<div class="py-1">
  <span>Sort by </span>
  <button id="email-toggle"
    class="me-1"
    (click)="setSortOption('email')"
    [ngClass]="{
              'btn': true,
              'btn-dark': usersListService.sortOptions().sortBy === 'email',
              'btn-outline-dark': usersListService.sortOptions().sortBy === 'lastName'
            }"
  >Email
  </button>
  <button id="lastname-toggle"
    class="me-1"
    (click)="setSortOption('lastName')"
    [ngClass]="{
              'btn': true,
              'btn-dark': usersListService.sortOptions().sortBy === 'lastName',
              'btn-outline-dark': usersListService.sortOptions().sortBy === 'email'
            }"
  >Lastname
  </button>
  <span>Order </span>
  <button id="asc-toggle"
    class="me-1 btn"
    (click)="setSortOption('asc')"
    [ngClass]="{
      'btn-dark': usersListService.sortOptions().sortOrder === 'asc',
      'btn-outline-dark': usersListService.sortOptions().sortOrder === 'desc'
    }"
  >ASC
  </button>
  <button id="desc-toggle"
    class="me-1 btn"
    (click)="setSortOption('desc')"
    [ngClass]="{
      'btn-dark': usersListService.sortOptions().sortOrder === 'desc',
      'btn-outline-dark': usersListService.sortOptions().sortOrder === 'asc'
    }"
  >DESC
  </button>
</div>
<div class="input-group py-1">
  <input type="text" class="form-control" placeholder="Filter by email..." aria-label="Filter by email"
         aria-describedby="basic-addon1">
</div>
